.sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image:
        linear-gradient(to left, color-mix(in srgb, var(--branco) 0%, transparent) 0%, color-mix(in srgb, var(--cinza-claro) 80%, transparent) 50%),
        url(/src/img/sobre.jpg);
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 20vh 8vh 20vh 8vh;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: left;
}

.titleText { 
    display: flex;
}

.description {
    width: 50%;
    /* background-color: var(--cinza-claro); */
}

.descriptionText {
    font-size: larger;
}

.strongText {
    color: var(--vermelho-escuro);
    font-weight: bolder;
}

.description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 2vh;
}

/* .imgAbout {
    width: 40%;
    height: auto;
    display: block;
    border-radius: 10px;
    box-shadow: 0 0 10px color-mix(in srgb, var(--preto) 40%, transparent);
} */