.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--cinza-claro);
    padding-bottom: 2vh;
    border-radius: 10px;
    box-shadow: 0 0 10px color-mix(in srgb, var(--preto) 40%, transparent);
    width: 25%;
    height: 400px;
}

.cardContent {
    padding: 0 1vh 1vh 1vh;
}

.imgCard {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    padding-bottom: 3vh;
}