.servicos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 8vh;
}

.titleText { 
    font-family: "Nunito Sans", sans-serif;
    padding-bottom: 8vh;
    font-size: xx-large;
}

.cardSection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}