:root {
    --branco: #ffffff;
    --cinza-claro: #d9d9d9;
    --cinza-escuro: #474d52;
    --vermelho-escuro: #9d1515;
    --prata-azulado: #52727c;
    --preto: #000000;
}

@font-face {
    font-family: 'BondoniFLF';
    src: url('../src/fonts/BodoniFLF/BodoniFLF-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'BondoniFLF';
    src: url('../src/fonts/BodoniFLF/BodoniFLF-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'BondoniFLF';
    src: url('../src/fonts/BodoniFLF/BodoniFLF-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'BondoniFLF';
    src: url('../src/fonts/BodoniFLF/BodoniFLF-Roman.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('../src/fonts/NunitoSans/NunitoSans-Italic-VariableFont_YTLC\,opsz\,wdth\,wght.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('../src/fonts/NunitoSans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
}

h1, h2 {
    font-family: 'BodoniFLF', serif;
    color: var(--prata-azulado);
    margin: 0;
}

p, h3, h4, h5 {
    font-family: 'Nunito Sans', sans-serif;
    color: var(--cinza-escuro);
    margin: 0;
}

.fade-in-section {
  opacity: 0;
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.fade-in-section.visible {
  opacity: 1;
}