.labelInput {
    display: flex;
    flex-direction: column;
    font-family: "Nunito Sans", sans-serif;
    margin-bottom: 1vh;
}

input {
    background-color: var(--cinza-claro);
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--cinza-claro);
    box-shadow: 0px 0px 2px var(--prata-azulado);
    height: 3vh;
}

label {
    font-weight: bold;
    color: var(--cinza-escuro);
}

input:hover {
    box-shadow: 0px 0px 4px var(--preto);
}